<h1>Listing contacts</h1>

<script type="text/x-handlebars">
  {{view App.ListContactsView}}
</script>

<br />

<script type="text/javascript">
  $(function(){
//      App.contactsController.fetch()
  })
</script>
